*{
	color:White;
	box-sizing: border-box;
}
body{
	background-image: url(deer.png);
	background-repeat: no-repeat;
	background-color:#2B2D42;
}
h1 {
	font-size: 60px;
	font-family:Garamond;
	border:3px solid white;
	text-align: center;
	position:relative;
	padding:10px 0px;
	margin: 0 auto;
	width:450px;
}
a:hover{
	color:darkgray;
}
p{
	font-family:Verdana !important;
	font-size: 21px;
}
h2 {
	font-size:30px;
}
h3{
	font-size:25px;
}	
p, h2, h3{
	margin-left: 40px;
	font-family: Garamond;
}
img{
	border-radius: 10px;
	box-shadow: 8px 8px rgba(0, 0, 0, 0.3);
}
hr{
	width:70%;
}
#banner{
	margin-top: 180px;
}
#nav {
	width:200px;
	position:relative;
	margin: 0 auto;
	text-align:center;
	font-size: 30px;
}
#bio{
	margin-top: 250px;
	margin-bottom: 120px;
}
.profile{
	float:right;
	border-radius: 10px;
	margin:5px 40px;
}
.header{
	text-align: center;
	margin:0 !important;
}
.column{
	float:left;
	width:23.33%;
	margin-left: 140px;
}
.artists::after{
	content:"";
	display:table;
	clear:both;
	margin-bottom: 100px;
}
.pagetitle{
	text-align: center;
	font-size: 40px;
	margin-top: 220px;
	margin-right:35px;
}
.temp{
	float:left;
	width: 30%;
	margin:0px 40px 40px 40px;
}	
#final{
	margin:50px 0px 300px 0px;
}